REPORT_GAS=true

<!-- ETHERSCAN API KEY -->
ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1

<!-- Private KEYS -->
<!-- please beware to share your private key online -->
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

// MAYBE you can use public nodes here for deploying.
<!-- Ethereum Network Nodes -->
ETHEREUM_URL=https://eth-mainnet.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
